---
---

<div class="contact-info font-mono text-sm space-y-2">
  <div>
    Twitter: <a href="https://twitter.com/skittleson" class="text-[#9da2ff] underline">@skittleson</a>
  </div>
  <div>
    GitHub: <a href="https://github.com/skittleson" class="text-[#9da2ff] underline">skittleson</a>
  </div>
  <div>
    LinkedIn: <a href="https://www.linkedin.com/in/skittleson/" class="text-[#9da2ff] underline">skittleson</a>
  </div>
  <div>
    StackOverflow: <a href="https://stackoverflow.com/users/2414540/spencer" class="text-[#9da2ff] underline">spencer</a>
  </div>
  <div>
    Buy me a coffee: <a href="https://www.buymeacoffee.com/skittles" class="text-[#9da2ff] underline">skittles</a>
  </div>
</div>
