Twitter: <a href="https://twitter.com/skittleson">@skittleson</a><br />
GitHub: <a href="https://github.com/skittleson">skittleson</a><br />
LinkedIn: <a href="https://www.linkedin.com/in/skittleson/">skittleson</a><br />
StackOverflow: <a href=" https://stackoverflow.com/users/2414540/spencer">spencer</a><br />
Buy me a coffee: <a href="https://www.buymeacoffee.com/skittles">skittles</a><br />