<div id="footer">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-sm-12 text-center">

                <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <a rel="author" itemprop="url" href="{{url}}/about" title="View author biography">
                        <span itemprop="name">Spencer Kittleson</span>
                    </a>
                    <meta itemprop="jobTitle" content="Software Engineer">
                </span>
                | 
                &copy; 2019 {{company}}
            </div>
        </div>
    </div>
</div>
<script async src="js/site.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93963699-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-93963699-1');
</script>
</body>

</html>