<div id="footer">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-sm-12 text-center">
                &copy; 2019 {{company}}
            </div>
        </div>
    </div>
</div>
<script async src="js/site.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93963699-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-93963699-1');
</script>
<script type="text/javascript" src="https://d1xnn692s7u6t6.cloudfront.net/widget.js"></script>
<script
    type="text/javascript">(function k() { window.$SendToKindle && window.$SendToKindle.Widget ? $SendToKindle.Widget.init({ "content": ".postMain" }) : setTimeout(k, 500); })();</script>
</body>

</html>