body {
    padding-top: 70px;
}

html, body, main {
    display: block;
    color: #333;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
}

.unstyledUl {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

h2>a {
    color: #333;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

h2 .text-primary {
    font-size: medium;
}

small {
    color: #555555;
}

.blog-item {
    padding-left: 1em;
}