:root {
  --main-highlight-color: #9da2ff;
  --main-text-color: whitesmoke;
}

body {
  padding-top: 70px;
}

.dark {
  background-color: #232b32;
}

.dark h2 a {
  color: var(--main-highlight-color);
  /* text-decoration: underline; */
}

html,
body,
main {
  display: block;
  color: var(--main-text-color);
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 5;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 600px;
}

.unstyledUl {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* h2 .text-primary {
  font-size: medium;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
} */


.blog-item {
  padding-left: 1em;
}

.navbar-brand {
  font-size: 98% !important;
}

body,
html,
p,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li, summary, details {
  font-family: "Inconsolata", monospace;
}

.hljs {
  background-color: black !important;
}

a,
h2, .read-more {
  color: var(--main-highlight-color) !important;
}

hr {
  background-color: var(--main-text-color);
}

.logo, .nav-link {
  color: var(--main-text-color) !important;
}