{{> header}}
<main class="container">

    <h2>Hi, I'm <b>Spencer</b> 👋</h2>

    <p>
        I'm a software engineer with experience in software creation and database design using various modern computer
        languages. In the field experience of building &amp; scaling systems to work on multiple platforms.
    </p>

    <p>
        Passion projects include: 3d printing, raspberry pis, Arduinos, and home automation! I also host hackathons from
        time-to-time.
    </p>

    <p>Interested in consulting?</p>
    {{> contactInfo}}

<br />
<h2>Contact Me</h2>
<form id="messageForm" style="max-width: 600px;" onsubmit="event.preventDefault(); fetchContactRelay(this);">
  <div class="form-group">
    <label for="emailFormControlInput">Email address</label>
    <input type="email" class="form-control" id="emailFormControlInput" placeholder="name@example.com" required>
  </div>
  <div class="form-group">
    <label for="messageFormControlInput">Message</label>
    <textarea class="form-control" id="messageFormControlInput" rows="6" placeholder="" minlength="10" required></textarea>
  </div>
    <div class="form-group">
    <input id="submitFormControlInput" type="submit" class="form-control" value="Send" />
  </div>
</form>
</main>
<script src="https://0v3d05pmt6.execute-api.us-east-1.amazonaws.com/latest/script" defer></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LdTwQEfAAAAANdN9s0deeY5Jzlq3IHa6EIKT6ym"></script> 
{{> footer}}