{{> header}}
<main class="container">

    <h2>Hi, I'm <b>Spencer</b> 👋</h2>

    <p>
        I'm a software engineer with experience in software creation and database design using various modern computer
        languages. In the field experience of building &amp; scaling systems to work on multiple platforms.
    </p>

    <p>
        Passion projects include: 3d printing, raspberry pis, Arduinos, and home automation! I also host hackathons from
        time-to-time.
    </p>

    <p>Interested in consulting?</p>
    {{> contactInfo}}

<br />
<h2>Contact Me</h2>
<form style="max-width: 600px;" onsubmit="event.preventDefault(); fetchContactRelay(this, 'https://r7ys7at760.execute-api.us-east-1.amazonaws.com/latest/');">
  <div class="form-group">
    <label for="exampleFormControlInput">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="messageFormControlInput">Message</label>
    <textarea class="form-control" id="messageFormControlInput" rows="6"></textarea>
  </div>
    <div class="form-group">
    <input type="submit" class="form-control" value="Send" />
  </div>
</form>

<script>
    
</script>


</main>



{{> footer}}