{{> header}}
<main class="container">

    <h2>Hi, I'm <b>Spencer</b> 👋</h2>

    <p>
        I'm a software engineer with experience in software creation and database design using various modern computer
        languages. In the field experience of building &amp; scaling systems to work on multiple platforms.
    </p>

    <p>
        Passion projects include: 3d printing, raspberry pis, Arduinos, and home automation! I also host hackathons from
        time-to-time.
    </p>

    <p>Interested in consulting?</p>
    {{> contactInfo}}

</main>

{{> footer}}