<#@ output extension=".md" #>
<#@ parameter name="Title" type="string" #>
<#@ parameter name="Description" type="string" #>
<#@ import namespace="System" #>
---
title: <#=Title#>
keywords:
    - 
description: <#=Description#>
image: 
alt: 
priority: 0.9
---
<#
    //https://github.com/mono/t4
    // t4 post.tt -p:Title=Test -p:Description=Building
#>